@import './tailwind.css';

:root {
    --container-max-width: 1200px;
    --article-max-width: 800px;
}

/* General site content container */
.container {
 @apply mx-auto;
 max-width: var(--container-max-width);
}
/* Container for articles and blog posts. */
.article {
 @apply mx-auto;
 max-width: var(--article-max-width);
}

h1, h2, h3, p {
    @apply my-2;
}
h1, h2, h3 {
    @apply font-semibold;
}
h1 {
    @apply text-3xl;
}
h2 {
    @apply text-2xl;
}
h3 {
    @apply text-xl;
}